h1{
    color: red;
    font-style: italic;
    
    
}

.estrofeTipo1{
    color:orangered ;
}

.estrofeTipo2{
    color: yellow ;
}
.estrofeTipo3{
    color: green ;
}
.estrofeTipo4{
    color: blue;
}
.estrofeTipo5{
    color: purple;
}
p{
    
    font-style: oblique;
    font-weight: 600;
    font-size: large;
    font-family: Courier New, monospace;
    
}
